SOLAR_API_KEY={SOLAR_API_KEY}
SOLAR_MODEL=solar-pro2

GITHUB_TOKEN={GITHUB_TOKEN}
GITHUB_API_URL=https://api.github.com
WEBHOOK_FROM_REPO_URL=
SMEE_URL=https://smee.io/commentory-swm17-temp-ai-tech-backend
RUN_SMEE_CLIENT=false
SERVER_HOST=0.0.0.0
SERVER_PORT=8000
UI_PORT=8501
WEBHOOK_TARGET=http://backend:8000/webhooks/github
